@charset "utf-8";
*{margin: 0;padding: 0;}
a{text-decoration: none;font-size: 12px;color: white;float: right;margin:-20px 20px 0 0;}
body{font-family:  "宋体";background: url(images/bg0.png) no-repeat;background-size: 100%;}
#app{width: 300px;height: 400px;margin:100px auto;text-align: center;background: rgba(50,50,50,.6);border-radius: 10px;}
.title{line-height: 50px;color: white;border-bottom: 1px solid silver;}
.inner{margin-top: 80px;}
input{width: 170px;height: 34px;border-radius: 5px;color:black;}
span{font-size: 12px;color:silver;margin-left: -80px;}
button{width: 170px;height: 36px;border-radius: 5px;background:#5B8020;border: 1px solid  silver;color: white;font-size: 18px;margin-top: -10px;cursor: pointer;}